@import 'config';
@import 'menu';
*{
    box-sizing: border-box;
}

//Text params
body {
    @include background();
    background: $primary-color;
    color: $text-primary-color;
    height: 100%;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    
}

//headings
h1,
h2,
h3 {
    margin:0;
    font-weight:400;
    &.lg-heading{
        font-size: 6rem;
 
    }
    &.sm-heading{
        margin-bottom:2rem;
        padding: .2rem .2rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }

    &.show{
        text-align: center;
     }
}
//icon styling
a{
    color: $text-primary-color;
    text-decoration: none;
}


header{
    position:fixed;
    z-index: 2; 
    width:100%;
  
}

.text-secondary{
    color:$text-secondary-color;
}

main{
    padding:4rem;
    height:100%;

  
    .icons{
        margin-top: 1rem;

        //Transition colors on Hover
        a{
            padding: 0.4rem;
            &:hover{
                color:$text-secondary-color;
             @include easeOut();
            }
        }

        &.show{
            text-align: center;
        }
    }
    
    &#home{
        overflow:hidden;
        h1{
            margin-top:20vh;
        }

       
    }
}